body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

#mainMenu, #gameScreen, #resultsScreen {
  display: block;
  text-align: center;
}

#gameCanvas {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
}

#score, #timer {
  display: block;
  margin: 1rem auto;
  width: fit-content;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}


#resultsScreen {
  display: block;
  text-align: center;
  margin: 1rem auto;
  max-width: 80vw;
  width: fit-content;
  background-color: #222;
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.8rem;
}

#resultsScreen ol {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 100%;
  display: block;
}

#resultsScreen li {
  margin-bottom: 0.5rem;
}

#resultsScreen button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
}

/* Media query for smaller screens (adjust breakpoint as needed) */
@media (max-width: 768px) {
  #score, #timer {
    font-size: 2rem;
  }
  #resultsScreen {
    font-size: 1.5rem;
  }
  #resultsScreen li {
    font-size: 1.5rem;
  }
  #resultsScreen button {
    font-size: 1.2rem;
  }
}
